<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>com.itokin.drifttt.apple-speech</string>
  <key>CFBundleName</key>
  <string>drifttt Apple Speech</string>
  <key>NSSpeechRecognitionUsageDescription</key>
  <string>音声をMac上で文字起こしするために音声認識を使用します</string>
</dict>
</plist>
